<section class="property-binding">
    <article>
        <h3>Interpolation</h3>
        <p> String renderized with interpolation: {{ url }}</p>
        <p> 1 + 1 = {{1+1}}</p>
        <p> Value 2 + 1 from function = {{2 + getValue()}}</p>
        <p> Angular course and I like Angular = {{courseAngular && getIlikeAngular()}}</p>
    </article>


    <article>
        <h3>Porpety Binding</h3>
        <img src="{{ urlImage }}"/>
        <img [src]="urlImage"/>
        <img bind-src="urlImage"/>
    </article>
</section>
